<%- include('partials/header', {title: 'Co2plant Blog'}) %>

    <main class="max-w-7xl mx-auto px-4 py-8">
        <section class="bg-gradient-to-r from-blue-500 to-purple-600 text-white rounded-lg p-8 mb-12">
            <h2 class="text-4xl font-bold mb-4">에러가 발생했습니다.</h2>
            <p class="text-xl"></p>
        </section>
    </main>

<%- include('partials/footer') %>